@keyframes blackToWhite {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}
@keyframes whiteToBlack {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}
.bg-size\:5\:4 {
  background-size: 500% 400%;
}
.bg-size\:3\:3 {
  background-size: 300% 300%;
}
.bg-size\:4\:3 {
  background-size: 400% 300%;
}
.bg-size\:4\:4 {
  background-size: 400% 400%;
}
.bg-size\:6\:5 {
  background-size: 600% 500%;
}
.bg-size\:3\:2 {
  background-size: 300% 200%;
}
.stickerAnimation\:3\:2 {
  animation: playv3vs2 1s steps(3) infinite, playh3vs2 0.666s steps(2) infinite;
}

@keyframes playv3vs2 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 300%;
  }
}

@keyframes playh3vs2 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 200%;
  }
}
.stickerAnimation\:4\:4 {
  animation: playv4vs4 1s steps(4) infinite, playh4vs4 0.666s steps(4) infinite;
}

@keyframes playv4vs4 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 400%;
  }
}

@keyframes playh4vs4 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 400%;
  }
}
.stickerAnimation\:5\:4 {
  animation: playv5vs4 1s steps(5) infinite, playh5vs4 0.666s steps(4) infinite;
}

@keyframes playv5vs4 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 500%;
  }
}

@keyframes playh5vs4 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 400%;
  }
}

.stickerAnimation\:3\:3 {
  animation: playv3vs3 1s steps(3) infinite, playh3vs3 0.666s steps(3) infinite;
}

@keyframes playv3vs3 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 300%;
  }
}

@keyframes playh3vs3 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 300%;
  }
}
@keyframes playv4vs3 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 400%;
  }
}

@keyframes playh4vs3 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 300%;
  }
}
.stickerAnimation\:4\:3 {
  animation: playv4vs3 1s steps(4) infinite, playh4vs3 0.666s steps(3) infinite;
}
.stickerAnimation\:6\:5 {
  animation: playv6vs5 1s steps(6) infinite, playh6vs5 0.666s steps(5) infinite;
}

@keyframes playv6vs6 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 600%;
  }
}

@keyframes playh6vs5 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 500%;
  }
}

.stickerAnimation\:1\:1 {
  animation: playv1vs1 1s steps(2) infinite, playh1vs1 0.666s steps(1) infinite;
}

@keyframes playv2vs1 {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 200%;
  }
}

@keyframes playh2vs1 {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}
.transition__width {
  transition: 10s ease-in-out;
}

@keyframes in-out {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width:70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width:90%;
  }100% {
    width: 100%;
  }
}

